<section class="vh-100 bg-dark">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Home</span>
    </div>
  </nav>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-2">
              <h2 class="fw-bold mb-2 text-uppercase">
                You are currently logged in.
              </h2>
              <p class="text-white-50 mb-5">
                (This site is under construction)
              </p>
              <button
                class="btn btn-light btn-md ms-auto px-5 mt-5"
                (click)="logOut()"
              >
                LogOut
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
